

.option-folder
    display inline
    padding 0.4rem 0.4rem 0.2rem 0.4rem
    background-color $header_folder_bgColor
    border 0.1rem solid $header_folder_bgColor
    border-radius 5%
    margin-left 0.5em
    &:hover
        cursor pointer
        background $header_folder_hi_bgColor
        .folder-toggle
            color $header_folder_hi_fColor !important

    .folder-toggle
        display flex
        color $header_folder_fColor
        background-color transparent
        font-weight bold
        font-size 0.8rem
        padding 0
        transition none !important // background 0.3s ease, color 0.3s ease
        
    .dropdown
        position absolute
        margin-left -0.5rem
        margin-top 0.4rem
        display flex
        flex-direction column
        background #222
        overflow hidden
        button
            transition none !important // margin 0.1s ease
            background-color #222
            border 0.1rem solid #222
            margin 0
            &:hover
                background #fff
                color #222
                border none
                //border 1px solid #222
        &.hidden
            button
                margin-top -2000px
        &.highlighted
            background-color red
            &:active
                background-color yellow !important
                color $header_btn_hi_fColor
                height 110%
                border none !important
    
    